body
{
    margin: 0;
    text-align: center;
}
#viz
{
    text-align: center;
    font-family: 'Redressed', cursive;
    padding-top: 50px;
    text-decoration: underline;
}
#chef
{
    background: linear-gradient(#A6CF98,#fff);
    border-radius: 20px;
}
.first
{
    width: 50%;
    margin-left: 360px;
    padding-top: 50px;
    color: #ED5EDD;
    font-family: 'Merriweather', serif;
}
.one
{
    height: 350px;
    width: 250px;
    border-radius: 50px;
}
/*****FOOD ITEMS****/
#branches
{
    width: 100%;
    padding: 70px 0;
    background: linear-gradient(#fff,#019587);
}
.title-text
{
    text-align: center;
    padding-bottom: 70px;
}
.title-text p
{
    margin:auto;
    font-size:20px;
    color:#009688;
    font-weight:bold;
    position: relative;
    z-index: 1;
    display:inline-block;
}
.title-text p::after
{
    content:'';
    width:50px ;
    height: 35px;
    background: linear-gradient(#019587,#fff);
    position: absolute;
    top:-20px;
    left:0;
    z-index:-1;
    transform: rotate(10deg);
    border-top-left-radius:35px;
    border-bottom-right-radius: 35px;
}
.title-text h1
{
    font-size: 50px;
    text-decoration: underline;
}
.feature-box
{
    width: 80%;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    text-align: center;
}
.service-box1
{
    width: 80%;
    display: flex;
    flex-wrap:wrap;
    justify-content: space-around;
    margin:auto;
}
.single-service1
{
    flex-basis: 48%;
    text-align: center;
    border-radius: 7px;
    margin-bottom: 20px;
    color: #fff;
    position: relative;
}
.single-service1 img
{
    width:100%;
    border-radius:7px;
    height: 100%;
}
.overlay
{
    width:100%;
    height: 100%;
    position: absolute;
    top:0;
    border-radius: 7px;
    cursor:pointer;
    background: linear-gradient(rgba(0,0,0,0.5),#009688);
    opacity: 0;
    transition: 1s;
}
.single-service1:hover .overlay
{
    opacity:1 ;
}
.service-desc
{
    width: 80%;
    position: absolute;
    bottom:0;
    left: 50%;
    transform:translateX(-50%);
    opacity: 0;
    transition: 1s;
}
hr
{
    background:#fff;
    height: 2px;
    border: 0;
    margin: 15px auto;
    width:60%;
}
.single-service1:hover .service-desc
{
    bottom:40%;
    opacity: 1;
}
a
{
    text-decoration: none;
    color: brown;
}
h2
{
    border: 3px solid;
    margin-left: 300px;
    margin-right: 300px;
    border-radius: 10px;
    background-color: #D29D2B;
    color: black;
}
@media screen and (max-width:770px)
{
    .single-service1
    {
        flex-basis: 100%;
        margin-bottom:30px;
    }
}